@import 'utility/var';
@import 'utility/function';
@import 'utility/mixin';

//import fonts
@import 'font/font';

//import dimension
@import 'dimen/dimens';

//import icon
@import 'font/icon';

* {

    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--font-line-height);
    background: var(--background);
}


@include media;