<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="ether-m3/css/ether-m3.css">
  <link rel="stylesheet" href="ether-m3/css/theme/theme-default.css">
  <link rel="stylesheet" href="style.css">
  <title>Component test <%= version %>
  </title>
</head>

<body>
  <div id="build">
    <div style="cursor: default;" class="filled-btn" id="btn-build">Click to Build</div>
    <p id="err"></p>
  </div>
  <div class="content">
    <p class="test">Navigation Bar View</p>
    <%- include ("navigation", {url:"/", src:"/logo.svg", headline:"Test Module", labels:["Menu 1","Menu","Menu","Menu"], ids:["mn1","mn2","mn3","mn4"], hrefs:["/menu1","/menu2","/menu3","/menu4"],
      icons:['ic-login','ic-favorite','ic-info','ic-article'], iconMore:'ic-three-dot-menu'}) %>
    <p class="test" style="margin-top: 128px;">Button View</p>
    <a href="/" class="filled-btn">Button</a><a href="/" class="filled-tonal-btn">Button</a>
    <a href="/" class="outlined-btn">Button</a>
    <a href="/" class="outlined-btn bg-no-color">Button</a>
    <a href="/" class="text-btn">Button</a>
    <p class="test">Icon Button View</p>
    <label for="" class="filled-icon-btn ic-favorite"></label>
    <label for="" class="filled-tonal-icon-btn ic-explore"></label>
    <label for="" class="icon-btn ic-login"></label>
    <label for="" class="outlined-icon-btn ic-info"></label>
    <p class="test">Icon Button Toggle View</p>
    <%- include('icon_button_toggle',{element:'a', attr:`href=#`, id:"btn1",icon:"ic-favorite"}) %>
    <%- include('filled_tonal_icon_button_toggle',{element:'div', id:"btn2",icon:"ic-favorite"}) %>
    <%- include('filled_icon_button_toggle',{element:'div', id:"btn3",icon:"ic-favorite"}) %>
    <%- include('outlined_icon_button_toggle',{element:'div', id:"btn4",icon:"ic-favorite", checked:true}) %>
    <p class="test">Icon View</p>
    <label class="icon ic-favorite"></label>
    <a class="icon ic-favorite"></a>
    <span class="icon ic-favorite"></span>
    <p style="display: inline-block;" class="icon ic-favorite"></p>

    <p class="test">Tab Navigation Rails View</p>
    <%- include("tab_navigation",{id:"tabnav2", active:1,
                labels:["Favorite","Post","Draft"], ids:["fav1","post1","drf1"],
                icons:["ic-favorite","ic-article","ic-draft"], hrefs:["#","#","#"]}) %>
    <%- include("tab_navigation_rails",{classes:"", id:"tabnav1", active:2,
                labels:["Favorite","Post","Draft"], ids:["fav","post","drf"],
                icons:["ic-favorite","ic-article","ic-draft"], hrefs:["#","#","#"]}) %>
    <%- include("tab_navigation",{class:null, id:"tabnav3", active:2,
                labels:["Favorite","Post","Draft"], ids:["fav2","post2","drf2"],
                icons:["ic-favorite","ic-article","ic-draft"], hrefs:["#","#","#"]}) %>
    <p class="test">Text Field View</p>
    <%- include('filled_text_field',{ id:"input1", class:"col-12 col-sm-8 col-md-4 col-l-3", type:"email",
                  placeholder:"Input Email", supportText:"Input your email here", require:false}) %>
    <%- include('outlined_text_field',{ id:"input2", class:"col-12 col-sm-8 col-md-4 col-l-3", type:"email",
                    placeholder:"Input Email", supportText:"Input your email here", require:false}) %>
  </div>
  <script type="module" src="index.js"></script>
</body>

</html>