@font-face {
    font-family: 'Ether Font';
    src: url('../fonts/Ether.ttf')format('truetype'),
    url('../fonts/Ether.svg#Ether')format('svg'),
    url('../fonts/Ether.woff') format('woff'), /* Super Modern Browsers */
    url('../fonts/Ether.woff2') format('woff2'), ;

}