//primary
$primary-dark: #b3c5ff;
$on-primary-dark: #002b75;
$primary-container-dark: #003fa4;
$on-primary-container-dark: #dae1ff;
//secondary
$secondary-dark: #c1c6dd;
$on-secondary-dark: #2a3042;
$secondary-container-dark: #414659;
$on-secondary-container-dark: #dde2f9;
//tertiary
$tertiary-dark: #e1bbdc;
$on-tertiary-dark: #422741;
$tertiary-container-dark: #5a3d58;
$on-tertiary-container-dark: #ffd6f9;
//neutral
$background-dark: #1b1b1f;
$on-background-dark: #e4e2e6;
$surface-dark: #1b1b1f;
$on-surface-dark: #e4e2e6;
$outline-dark: #8f909a;
$surface-variant-dark: #45464f;
$on-surface-variant-dark: #c5c6d0;
//error
$error-dark: #ffb4ab;
$on-error-dark: #690005;
$error-container-dark: #93000a;
$on-error-container-dark: #ffdad6;
$shadow:#000;
