//primary
$primary-light: #2658c3;
$on-primary-light: #ffffff;
$primary-container-light: #dae1ff;
$on-primary-container-light: #001849;
//secondary
$secondary-light: #585e71;
$on-secondary-light: #ffffff;
$secondary-container-light: #dde2f9;
$on-secondary-container-light: #151b2c;
//tertiary
$tertiary-light: #735471;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #ffd6f9;
$on-tertiary-container-light: #2b122b;
//neutral
$background-light: #fefbff;
$on-background-light: #1b1b1f;
$surface-light: #fefbff;
$on-surface-light: #1b1b1f;
$outline-light: #757680;
$surface-variant-light: #e2e2ec;
$on-surface-variant-light: #45464f;
//error
$error-light: #ba1a1a;
$on-error-light: #ffffff;
$error-container-light: #ffdad6;
$on-error-container-light: #410002;
//shadow
$shadow:#000;