//surface-tint
@function tint($color, $color_tint, $percent) {
    @return mix($color_tint, $color, $percent);
}

@function color-opacity($color, $opacity) {
    @return #{rgba($color, $opacity)};
}

@function invers($color){
    @return invert($color)
}