@use 'sass:math';
@use "sass:map";

//on media
@mixin on-media-max-xs {
    @media (max-width: map.get($media, "xs")) {
        @content;
    }
}

@mixin on-media-height-max-xs {
    @media (max-height: map.get($media, "xs")) {
        @content;
    }
}

@mixin on-media-min-sm {
    @media (min-width: map.get($media, "sm")) {
        @content;
    }
}

@mixin on-media-height-min-sm {
    @media (min-height: map.get($media, "sm")) {
        @content;
    }
}

@mixin on-media-min-md {
    @media (min-width: map.get($media, "md")) {
        @content;
    }
}

@mixin on-media-height-min-md {
    @media (min-height: map.get($media, "md")) {
        @content;
    }
}

@mixin on-media-min-lg {
    @media (min-width: map.get($media, "lg")) {
        @content;
    }
}

@mixin on-media-height-min-lg {
    @media (min-height: map.get($media, "lg")) {
        @content;
    }
}

@mixin on-media-min-xl {
    @media (min-width: map.get($media, "xl")) {
        @content;
    }
}

@mixin on-media-height-min-xl {
    @media (min-height: map.get($media, "xl")) {
        @content;
    }
}

@mixin on-media-min-xxl {
    @media (min-width: map.get($media, "xxl")) {
        @content;
    }
}

@mixin on-media-height-min-xxl {
    @media (min-height: map.get($media, "xxl")) {
        @content;
    }
}

@mixin on-media-portrait {
    @media (orientation: portrait) {
        @content;
    }
}

@mixin on-media-landscape {
    @media (orientation: landscape) {
        @content;
    }
}

//media width
@mixin media {
    @for $i from 1 through 12 {
        #{".col-"+$i} {
            width: math.percentage(math.div($i, 12));
        }
    }

    @each $name,
    $val in $media {
        @if $name=="xs" {
            @media (max-width:$val) {
                @for $i from 1 through 12 {
                    #{".col-"+$name+"-"+$i} {
                        width: math.percentage(math.div($i, 12));
                    }
                }
            }
        }

        @else {
            @media (min-width:$val) {
                @for $i from 1 through 12 {
                    #{".col-"+$name+"-"+$i} {
                        width: math.percentage(math.div($i, 12));
                    }
                }
            }
        }
    }

}

//placeholder
@mixin placeholder {
    &::placeholder {
        @content;
    }

    &::-ms-input-placeholder {
        /* Internet Edge */
        @content;
    }

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @content;
    }
}

//tint
@mixin color-tint($color, $color-tint, $name-var) {

    @each $name,
    $val in $color-tint-opacity {
        #{$name-var+"-tint-"+$name}: tint($color, $color-tint, math.percentage($val));

    }

    // #{$name-var+"-tint-"+$i}: #{tint($color, $color-tint, $val)};

}

@mixin color-state($color, $color-layer, $name-var) {

    @each $name,
    $val in $state-layer-opacity {
        #{$name-var+"-state-"+$name}: tint($color, $color-layer, math.percentage($val));
    }
}

@mixin color-tint-state($color, $color-tint, $color-layer, $name-var) {

    @each $tint-name,
    $tint-val in $color-tint-opacity {

        @each $name,
        $val in $state-layer-opacity {
            #{$name-var+"-tint-"+$tint-name+"-state-"+$name}: tint(tint($color, $color-tint, math.percentage($tint-val)), $color-layer, math.percentage($val));
        }
    }
}

@mixin color-opacity($color, $name-var) {

    @each $name,
    $val in $layer-opacity {
        #{$name-var+"-opacity-"+$name}: color-opacity($color, $val);
    }
}

@mixin color-invers($color, $name-var) {
    #{$name-var+'-invers'}: invers($color);
}

@mixin color-invers-state($color, $color-layer, $name-var) {

    @each $name,
    $val in $state-layer-opacity {
        #{$name-var+'-invers-state-'+$name}: tint(invers($color), $color-layer, math.percentage($val));
    }
}

@mixin color-invers-x-invers-state($color, $color-layer, $name-var) {

    @each $name,
    $val in $state-layer-opacity {
        #{$name-var+'-invers-x-invers-state-'+$name}: tint(invers($color), invers($color-layer), math.percentage($val));
    }
}

@mixin icon {

    @each $name,
    $val in $icon-list {
        #{'.ic-'+$name}::before {
            content: unquote("\"#{ $val }\"");
        }
    }
}