//dimension
$top-appbar-height-sm: 112px;
$top-appbar-height-md: 64px;
$footer-height: 64px;

//font
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$line-height: 1.6;
$font-size: 16px;

//media
$media: (
    "xs": 575px,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px,
);

//color tint opacity
$color-tint-opacity: (
    "1":0.05,
    "2":0.08,
    "3":0.11,
    "4":0.12,
    "5":0.14
);

//state layer opacity
$state-layer-opacity: (
    "hover":0.08,
    "focus":0.12,
    "pressed":0.12,
    "dragged":0.16,
);

$layer-opacity: (
    "4":0.04,
    "12":0.12,
    "38":0.38,
);

$icon-list: (
    'explore':'1',
    'login':'2',
    'privacy-info':'3',
    'term':'4',
    'info':'5',
    'add-account':'6',
    'logout':'7',
    'setting':'8',
    'article':'9',
    'draft':':',
    'favorite':';',
    'favorite-fill':'<',
    'three-dot-menu':'0',
    'explore-fill':'=',
    'privacy-info-fill':'>',
    'term-fill':'?',
    'info-fill':'@',
    'add-account-fill':'A',
    'setting-fill':'B',
    'article-fill':'C',
    'draft-fill':'D'
);