@import '../color/light';
@import '../color/dark';
@import '../utility/mixin';
@import '../utility/function';
@import '../utility/var';


:root,
::after,
::before,
::backdrop {
    //========color========
    //primary
    --primary: #{$primary-light};
    --on-primary: #{$on-primary-light};
    --primary-container: #{$primary-container-light};
    --on-primary-container: #{$on-primary-container-light};
    @include color-state($primary-light, $on-primary-light, "--primary");
    //secondary
    --secondary: #{$secondary-light};
    --on-secondary: #{$on-secondary-light};
    --secondary-container: #{$secondary-container-light};
    --on-secondary-container: #{$on-secondary-container-light};
    @include color-state($secondary-container-light, $on-secondary-container-light, "--secondary-container");

    //tertiary
    --tertiary: #{$tertiary-light};
    --on-tertiary: #{$on-tertiary-light};
    --tertiary-container: #{$tertiary-container-light};
    --on-tertiary-container: #{$on-tertiary-container-light};
    //neutral
    --background: #{$background-light};
    --on-background: #{$on-background-light};
    --surface: #{$surface-light};
    --on-surface: #{$on-surface-light};
    --outline: #{$outline-light};
    --surface-variant: #{$surface-variant-light};
    --on-surface-variant: #{$on-surface-variant-light};
    //surface-variant state
    @include color-state($surface-variant-light, $on-surface-variant-light, "--surface-variant");
    @include color-state($surface-variant-light, $primary-light, "--surface-variant-primary");

    //surface-tinted
    @include color-tint($surface-light, $primary-light, "--surface");
    @include color-tint-state($surface-light, $primary-light, $on-surface-light, "--surface");
    @include color-tint($surface-variant-light, $primary-light, "--surface-variant");
    @include color-tint-state($surface-variant-light, $primary-light, $on-surface-light, "--surface-variant");
    
    //surface-state
    @include color-state($surface-light, $primary-light, "--surface");
    @include color-state($surface-light, $on-surface-light, "--surface-on");
    @include color-state($surface-light, $on-surface-variant-light, "--surface-on-variant");
    
    //surface invers
    @include color-invers($surface-light, "--surface");
    @include color-invers($on-surface-light, "--on-surface");

    //surface inver state
    @include color-invers-x-invers-state($surface-light, $on-surface-light, "--surface");

    //error
    --error: #{$error-light};
    --on-error: #{$on-error-light};
    --error-container: #{$error-container-light};
    --on-error-container: #{$on-error-container-light};
    //shadow
    --shadow:#{$shadow};
    //transparent color state
    @include color-state(#00000000, $primary-light, "--transparent");
    @include color-state(#00000000, $on-surface-variant-light, "--transparent-on-variant");

    //surface variant with on surface state
    @include color-state($surface-variant-light, $on-surface-light, "--surface-variant");

    //error state
    @include color-state($error-light, $on-surface-light, "--error");

    //color on surface opacity
    @include color-opacity($on-surface-light, "--on-surface");
}

@media (prefers-color-scheme: light) {

    :root,
    ::after,
    ::before,
    ::backdrop {
        //primary
        --primary: #{$primary-light};
        --on-primary: #{$on-primary-light};
        --primary-container: #{$primary-container-light};
        --on-primary-container: #{$on-primary-container-light};
        @include color-state($primary-light, $on-primary-light, "--primary");
        //secondary
        --secondary: #{$secondary-light};
        --on-secondary: #{$on-secondary-light};
        --secondary-container: #{$secondary-container-light};
        --on-secondary-container: #{$on-secondary-container-light};
        @include color-state($secondary-container-light, $on-secondary-container-light, "--secondary-container");

        //tertiary
        --tertiary: #{$tertiary-light};
        --on-tertiary: #{$on-tertiary-light};
        --tertiary-container: #{$tertiary-container-light};
        --on-tertiary-container: #{$on-tertiary-container-light};
        //neutral
        --background: #{$background-light};
        --on-background: #{$on-background-light};
        --surface: #{$surface-light};
        --on-surface: #{$on-surface-light};
        --outline: #{$outline-light};
        --surface-variant: #{$surface-variant-light};
        --on-surface-variant: #{$on-surface-variant-light};
        //surface-variant state
        @include color-state($surface-variant-light, $on-surface-variant-light, "--surface-variant");
        @include color-state($surface-variant-light, $primary-light, "--surface-variant-primary");

        //surface-tinted
        @include color-tint($surface-light, $primary-light, "--surface");
        @include color-tint-state($surface-light, $primary-light, $on-surface-light, "--surface");
        @include color-tint($surface-variant-light, $primary-light, "--surface-variant");
        @include color-tint-state($surface-variant-light, $primary-light, $on-surface-light, "--surface-variant");

        //surface state
        @include color-state($surface-light, $primary-light, "--surface");
        @include color-state($surface-light, $on-surface-light, "--surface-on");
        @include color-state($surface-light, $on-surface-variant-light, "--surface-on-variant");
        
        //surface invers
        @include color-invers($surface-light, "--surface");
        @include color-invers($on-surface-light, "--on-surface");

        //surface inver state
        @include color-invers-x-invers-state($surface-light, $on-surface-light, "--surface");

        //error
        --error: #{$error-light};
        --on-error: #{$on-error-light};
        --error-container: #{$error-container-light};
        --on-error-container: #{$on-error-container-light};
        --shadow:#{$shadow};

        //transparent state
        @include color-state(#00000000, $primary-light, "--transparent");
        @include color-state(#00000000, $on-surface-variant-light, "--transparent-on-variant");

        //surface variant with on surface state
        @include color-state($surface-variant-light, $on-surface-light, "--surface-variant");

        //error state
        @include color-state($error-light, $on-surface-light, "--error");

        //color on surface opacity
        @include color-opacity($on-surface-light, "--on-surface");
    }
}


@media (prefers-color-scheme: dark) {

    :root,
    ::after,
    ::before,
    ::backdrop {
        //primary
        --primary: #{$primary-dark};
        --on-primary: #{$on-primary-dark};
        --primary-container: #{$primary-container-dark};
        --on-primary-container: #{$on-primary-container-dark};
        @include color-state($primary-dark, $on-primary-dark, "--primary");
        //secondary
        --secondary: #{$secondary-dark};
        --on-secondary: #{$on-secondary-dark};
        --secondary-container: #{$secondary-container-dark};
        --on-secondary-container: #{$on-secondary-container-dark};
        @include color-state($secondary-container-dark, $on-secondary-container-dark, "--secondary-container");

        //tertiary
        --tertiary: #{$tertiary-dark};
        --on-tertiary: #{$on-tertiary-dark};
        --tertiary-container: #{$tertiary-container-dark};
        --on-tertiary-container: #{$on-tertiary-container-dark};
        //neutral
        --background: #{$background-dark};
        --on-background: #{$on-background-dark};
        --surface: #{$surface-dark};
        --on-surface: #{$on-surface-dark};
        --outline: #{$outline-dark};
        --surface-variant: #{$surface-variant-dark};
        --on-surface-variant: #{$on-surface-variant-dark};
        //surface-variant state
        @include color-state($surface-variant-dark, $on-surface-variant-dark, "--surface-variant");
        @include color-state($surface-variant-dark, $primary-dark, "--surface-variant-primary");

        //surface-tinted
        @include color-tint($surface-dark, $primary-dark, "--surface");
        @include color-tint-state($surface-dark, $primary-dark, $on-surface-light, "--surface");
        @include color-tint($surface-variant-dark, $primary-dark, "--surface-variant");
        @include color-tint-state($surface-variant-dark, $primary-dark, $on-surface-dark, "--surface-variant");

        //surface state
        @include color-state($surface-dark, $primary-dark, "--surface");
        @include color-state($surface-dark, $on-surface-dark, "--surface-on");
        @include color-state($surface-dark, $on-surface-variant-dark, "--surface-on-variant");
       
        //surface invers
        @include color-invers($surface-dark, "--surface");
        @include color-invers($on-surface-dark, "--on-surface");

        //surface inver state
        @include color-invers-x-invers-state($surface-dark, $on-surface-dark, "--surface");

        //error
        --error: #{$error-dark};
        --on-error: #{$on-error-dark};
        --error-container: #{$error-container-dark};
        --on-error-container: #{$on-error-container-dark};
        --shadow:#{$shadow};

        //transparent state
        @include color-state(#00000000, $primary-dark, "--transparent");
        @include color-state(#00000000, $on-surface-variant-dark, "--transparent-on-variant");

        //surface variant with on surface state
        @include color-state($surface-variant-dark, $on-surface-dark, "--surface-variant");

        //error state
        @include color-state($error-dark, $on-surface-dark, "--error");

        //color on surface opacity
        @include color-opacity($on-surface-dark, "--on-surface");

    }
}