.elevated-card {
    border-radius: 12px;
    background: var(--surface-tint-1);
    box-shadow: 0 1px 2px #000;
    height: fit-content;
    width: 100%;
    color: var(--on-surface);

    >.thumbnail {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
        height: 150px;

        >img {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
        }
    }

    >div.text {
        padding: 12px;

        >p {
            margin-bottom: 8px;
        }

        >.card-headline {
            font-size: 22px;
            line-height: 28px;
            font-weight: 400;
        }

        >.card-subheadline {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: var(--on-surface-variant);
        }

        >.card-supporting-text {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    >.card-action {
        padding: 12px 0;
        margin: 0 12px;
        border-top: 1px solid var(--outline);
    }

    &.clickable {
        &:hover {
            background: var(--surface-tint-2-state-hover);
            box-shadow: 0 2px 4px #000;
        }

        &:focus {
            background: var(--surface-tint-1-state-focus) !important;
            box-shadow: 0 1px 4px #000 !important;
        }

        &:active {
            background: var(--surface-tint-1-state-pressed) !important;
            box-shadow: 0 1px 4px #000 !important;
        }
    }


}