a.filled-icon-btn,
.filled-icon-btn {
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--on-primary);
    padding: 4px;
    cursor: pointer !important;

    &.disable{
        cursor: default !important;
    }

    &::before {
        background: var(--primary);
        padding: 8px;
        border-radius: 50%;
        vertical-align: middle;
        display: table-cell;
        font-family: 'Ether Font';
    }

    &:hover {
        &::before {
            background: var(--primary-state-hover);
        }
    }

    &:focus {
        &::before {
            background: var(--primary-state-focus);
        }
    }

    &:active {
        &::before {
            background: var(--primary-state-pressed);
        }
    }
}