a.filled-tonal-icon-btn,
.filled-tonal-icon-btn {
    display: inline-block;
    width: 48px;
    height: 48px;
    color: var(--on-secondary-container);
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 4px;
    cursor: pointer !important;

    &::before {
        background: var(--secondary-container);
        border-radius: 50%;
        padding: 8px;
        display: table-cell;
        vertical-align: middle;
        font-family: 'Ether Font';
    }

    &:hover {
        &::before {
            background: var(--secondary-container-state-hover);
        }
    }

    &:focus {
        &::before {
            background: var(--secondary-container-state-focus);
        }
    }

    &:active {
        &::before {
            background: var(--secondary-container-state-pressed);
        }
    }
}