a.filled-btn,
.filled-btn {
    display: inline-block;
    padding: 8px 24px;
    border-radius: 20px;
    border: 0px;
    background: var(--primary);
    color: var(--on-primary);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-family);
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.1s ease-out;
    cursor: pointer !important;

    &:disabled {
        background: var(--on-surface-opacity-12);
        color: var(--on-surface-opacity-38);
        cursor: default !important;

        &:hover {
            background: var(--on-surface-opacity-12);
            z-index: 0;
            box-shadow: none;
        }

        &:focus {
            background: var(--on-surface-opacity-12);
        }

        &:active {
            background: var(--on-surface-opacity-12);
        }
    }

    &:hover {
        background: var(--primary-state-hover);
        z-index: 1;
        box-shadow: 0px 1px 2px var(--shadow);
    }

    &:focus {
        background: var(--primary-state-focus);
        z-index: 0;
        box-shadow: none;
    }

    &:active {
        background: var(--primary-state-hover);
        z-index: 0;
        box-shadow: none;
    }
}