.fill-text-field {
    position: relative;
    display: inline-block;
    height: 56px;
    border: none;
    background: transparent;
    text-align: start;

    >div {
        height: 100%;
        width: 100%;
        margin-bottom: 4px;
        pointer-events: none;
        border: none;
        border-bottom: 1px solid var(--on-surface-variant);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: var(--surface-variant);
        transition: all 0.1s ease-out;

    }

    >label {
        // z-index: 1;
        position: absolute;
        top: 16px;
        bottom: 16px;
        left: 16px;
        right: 16px;
        pointer-events: none;
        font-size: 16px;
        color: var(--on-surface-variant);
        line-height: 24px;
        font-family: var(--font-family);
        font-weight: 400;
        transition: all 0.1s ease-out;
    }

    >p{
        margin-left: 16px;
        margin-right: 16px;
        text-align: start;
        color: var(--on-surface-variant);
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
    }

    >input {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        // z-index: 1;
        width: 100%;
        padding: 16px;
        background: transparent;
        caret-color: var(--primary);
        color: var(--on-surface);
        line-height: 24px;
        outline: none;
        font-size: 16px;
        border: none;
        outline: none;


        &:focus,
        &:not(:placeholder-shown) {
            background: transparent;
            padding-top: 24px;
            padding-bottom: 8px;
        }

        &:focus {
            +div {
                border-bottom: 2px solid var(--primary);
                background: var(--surface-variant);
            }

            ~label {
                top: 8px;
                bottom: 32px;
                font-size: 12px;
                line-height: 16px;
                color: var(--primary);
            }
        }

        &:not(:placeholder-shown) {

            ~label {
                top: 8px;
                bottom: 32px;
                font-size: 12px;
                line-height: 16px;
            }
        }

        //disable
        &:disabled {
            +div {
                background: var(--on-surface-opacity-4) !important;
                border-bottom-color: var(--on-surface-opacity-38) !important;

            }

            ~label {
                color: var(--on-surface-opacity-38) !important;
            }

            ~p{
                color: var(--on-surface-opacity-38) !important;;
            }

            color: var(--on-surface-opacity-38) !important;
        }
    }

    //hover
    &:hover {
        >div {
            background: var(--surface-variant-state-hover);
            border-bottom-color: var(--on-surface);
        }

        &.error {
            >div {
                border-bottom-color: var(--on-error-container);
            }

            >label {
                color: var(--on-error-container);
            }
        }
    }

    &.error {
        >div {
            border-bottom-color: var(--error);
        }

        >label {
            color: var(--error);
        }

        >p{
            color: var(--error);
        }

        >input {
            caret-color: var(--error);
            &:focus{
                +div{
                    border-bottom-color:var(--error)
                }
                ~label{
                    color: var(--error);
                }
            }
        }
    }

}