a.filled-icon-btn-toggle,
.filled-icon-btn-toggle {
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 4px;
    cursor: pointer !important;

    >input {
        display: none;

        &:checked {
            +.ch {
                display: none;
            }

            ~.h-ch {
                display: inline-block;
            }
        }
    }

    >.ch {
        display: inline-block;
        cursor: pointer;
        pointer-events: none;

        &::before {
            background: var(--surface-variant);
            color: var(--primary);
            padding: 8px;
            border-radius: 50%;
            vertical-align: middle;
            display: table-cell;
        }
    }

    >.h-ch {
        display: none;
        cursor: pointer;
        pointer-events: none;

        &::before {
            background: var(--primary);
            color: var(--on-primary);
            padding: 8px;
            border-radius: 50%;
            vertical-align: middle;
            display: table-cell;
        }
    }

    &:hover {
        >.ch {
            &::before {
                background: var(--surface-variant-primary-state-hover);
            }
        }

        >.h-ch {
            &::before {
                background: var(--primary-state-hover);
            }
        }
    }

    &:focus {
        >.ch {
            &::before {
                background: var(--surface-variant-primary-state-focus);
            }
        }

        >.h-ch {
            &::before {
                background: var(--primary-state-hover);
            }
        }
    }

    &:active {
        >.ch {
            &::before {
                background: var(--surface-variant-primary-state-pressed);
            }
        }

        >.h-ch {
            &::before {
                background: var(--primary-state-hover);
            }
        }
    }
}