a.filled-tonal-btn,
.filled-tonal-btn {
    display: inline-block;
    padding: 8px 24px;
    border-radius: 20px;
    border: 0px;
    background: var(--secondary-container);
    color: var(--on-secondary-container);
    line-height: 24px;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font-family);
    text-align: center;
    text-decoration: none;
    transition: 0.1s all ease-out;
    cursor: pointer !important;

    &:disabled {
        background: var(--on-surface-opacity-12);
        color: var(--on-surface-opacity-38);
        cursor: default !important;


        &:hover {
            background: var(--on-surface-opacity-12);
            z-index: 0;
            box-shadow: none;
        }

        &:focus {
            background: var(--on-surface-opacity-12);
        }

        &:active {
            background: var(--on-surface-opacity-12);
        }
    }

    &:hover {
        background: var(--secondary-container-state-hover);
        z-index: 1;
        box-shadow: 0px 1px 2px var(--shadow);
    }

    &:focus {
        background: var(--secondary-container-state-focus);
    }

    &:active {
        background: var(--secondary-container-state-pressed);
    }
}