a.filled-tonal-icon-btn-toggle,
.filled-tonal-icon-btn-toggle {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    padding: 4px;
    cursor: pointer !important;

    >input {
        display: none;

        &:checked {
            +.ch {
                display: none;
            }

            ~.h-ch {
                display: inline-block;
            }
        }
    }

    >.ch {
        display: inline-block;
        cursor: pointer;
        pointer-events: none;

        &::before {
            background: var(--surface-variant);
            border-radius: 50%;
            font-size: 24px;
            line-height: 24px;
            color: var(--on-surface-variant);
            padding: 8px;
            display: table-cell;
            vertical-align: middle;
        }
    }

    >.h-ch {
        display: none;
        cursor: pointer;
        pointer-events: none;

        &::before {
            background: var(--secondary-container);
            color: var(--on-secondary-container);
            border-radius: 50%;
            padding: 8px;
            font-size: 24px;
            line-height: 24px;
            display: table-cell;
            vertical-align: middle;
        }
    }



    &:hover {
        >.ch {
            &::before {
                background: var(--surface-variant-state-hover);
            }
        }

        >.h-ch {
            &::before {
                background: var(--secondary-container-state-hover);
            }
        }
    }

    &:focus {
        >.ch {
            &::before {
                background: var(--surface-variant-state-focus);
            }
        }

        >.h-ch {
            &::before {
                background: var(--secondary-container-state-hover);
            }
        }
    }

    &:active {
        >.ch {
            &::before {
                background: var(--surface-variant-state-pressed);
            }
        }

        >.h-ch {
            &::before {
                background: var(--secondary-container-state-hover);
            }
        }
    }
}