.footer {
    height: 64px;
    padding: 20px 0px;
    color: var(--on-surface);
    background: var(--surface-tint-2);
    >#copy-container{
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        cursor: default;
    }
}