a.icon-btn-toggle,
.icon-btn-toggle {
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 4px;
    cursor: pointer !important;
    text-decoration: none;

    &>input {
        display: none;

        &:checked {
            +.ch {
                display: none;
            }

            ~.h-ch {
                display: inline-block;
            }

        }
    }

    &>.ch {
        display: inline-block;
        cursor: pointer;
        pointer-events: none;

        &::before {
            display: inline-block;
            background: transparent;
            border-radius: 50%;
            color: var(--on-surface-variant);
            padding: 8px;
            display: table-cell;
            vertical-align: middle;
        }
    }

    &>.h-ch {
        display: none;
        cursor: pointer;
        pointer-events: none;

        &::before {
            display: inline-block;
            background: transparent;
            border-radius: 50%;
            padding: 8px;
            color: var(--primary);
            display: table-cell;
            vertical-align: middle;
        }
    }

    &:hover {
        >.ch {
            &::before {
                background: var(--transparent-on-variant-state-hover);
            }
        }

        >.h-ch {
            &::before {
                background: var(--transparent-state-hover);
            }
        }
    }

    &:focus {
        >.ch {
            &::before {
                background: var(--transparent-on-variant-state-focus);
            }
        }

        >.h-ch {
            &::before {
                background: var(--transparent-state-focus);
            }
        }
    }

    &:active {
        >.ch {
            &::before {
                background: var(--transparent-on-variant-state-pressed);
            }
        }

        >.h-ch {
            &::before {
                background: var(--transparent-state-pressed);
            }
        }
    }
}