//use medium nav-bar
.nav-bar {
    background: var(--surface);
    width: 100%;
    height: var(--app-topbar-height);
    color: var(--on-surface);
    z-index: 999;
    position: fixed;
    text-align: left;
    padding: 8px 4px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: space-between;
    transition: background-color 0.1s ease-out;

    //on scroll event

    &:is([data-onscroll="true"]) {
        background: var(--surface-tint-2);
    }

    >a {
        order: 1;
        width: 48px;
        height: 48px;
        flex-basis: 48px;

        >img {
            width: 100%;
            height: 100%;
            padding: 12px;
        }
    }

    >p {
        order: 3;
        padding: 0px 12px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        flex-grow: 1;
        flex-basis: 100%;
        cursor: default;
    }

    >nav {
        order: 2;
        flex-grow: 1;

        >ul {
            display: flex;
            flex-direction: row;
            justify-content: right;
            flex-wrap: nowrap;
            align-items: center;

            >li {
                display: inline-block;
                margin-left: 4px;

                >a {
                    text-align: center;
                    padding: 8px 8px;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    border-radius: 20px;
                    &:hover {
                        background: var(--surface-on-variant-state-hover);
                    }

                    &:focus {
                        background: var(--surface-on-variant-state-hover);
                    }

                    &:active {
                        background: var(--surface-on-variant-state-pressed);
                    }
                }

                >label {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    font-size: 24px;
                    padding: 8px;
                    margin: 4px;
                    cursor: pointer;
                    color: var(--on-surface-variant);

                    &:hover {
                        background: var(--surface-on-variant-state-hover);
                    }

                    &:focus {
                        background: var(--surface-on-variant-state-hover);
                    }

                    &:active {
                        background: var(--surface-on-variant-state-pressed);
                    }
                }
            }
        }


    }

    ul {
        list-style-type: none;

        >li {
            >a {
                color: var(--on-surface-variant);
                text-decoration: none;
                vertical-align: middle;
                display: table;
                line-height: 24px;

                >span {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 24px;
                }

                >p {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 16px;
                }
            }
        }
    }

    .secondary-action {
        width: fit-content;
        display: none;
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 64px;
        right: 4px;
        border: none;
        border-radius: 12px;
        padding: 8px 0px;
        background: var(--surface-tint-2);
        transition: display 0.1s ease-out, opacity 0.2s ease-out 0.2s;

        >li {
            >a {
                border-collapse: separate;
                border-spacing: 12px 0px;
                width: 100%;
                text-align: start;
                padding: 12px 0px;

                >span {
                    width: 24px;
                }

                >p {
                    color: var(--on-surface);
                }

                &:hover {
                    background: var(--surface-on-state-hover);
                }

                &:focus {
                    background: var(--surface-on-state-focus);

                }

                &:active {
                    background: var(--surface-on-state-pressed);

                }
            }

        }
    }

    >#menu-toggle {
        display: none;

        &:checked {
            +label {
                display: block;
            }

            //show menu action
            ~.secondary-action {
                display: block;
                opacity: 1;
            }
        }
    }

    >label {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
    }

    @include on-media-max-xs {
        >nav {
            >ul {
                >li {
                    flex-basis: 40px;
                    margin-left: 0px;

                    >a {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;

                        >p {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include on-media-min-md {
        // height: 64px;
        flex-wrap: nowrap;

        >p {
            order: 2;
            flex-basis: auto;
            line-height: 28px;
            font-size: 22px;
        }

        >nav {
            order: 3;
        }
    }

}