.outlined-text-field {
    height: 56px;
    display: inline-block;
    background: transparent;
    position: relative;

    >svg {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 4px;
        >path {
            fill: none;
            stroke-width: 1px;
            stroke: var(--outline);
            transition: all 0.1s ease-out;
        }
    }

    >label {
        z-index: 1;
        top: 16px;
        bottom: 16px;
        left: 16px;
        position: absolute;
        line-height: 24px;
        font-size: 16px;
        color: var(--on-surface-variant);
        font-weight: 400;
        text-align: start;
        pointer-events: none;
        transition: all 0.1s ease-out;
    }

    >p {
        margin-left: 16px;
        margin-right: 16px;
        color: var(--on-surface-variant);
        line-height: 16px;
        font-size: 12px;
        font-weight: 400;
        text-align: start;
    }

    >input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        caret-color: var(--primary);
        width: 100%;
        padding: 16px;
        color: var(--on-surface);
        line-height: 24px;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        border: none;
        background: transparent;


        &:focus {

            ~label {
                color: var(--primary);
                top: -8px;
                bottom: 8px;
                line-height: 16px;
                font-size: 12px;
            }

            ~svg {
                >path {
                    stroke: var(--primary);
                    stroke-width: 2px;
                }
            }

        }

        &:not(:placeholder-shown) {
            ~label {
                top: -8px;
                bottom: 8px;
                line-height: 16px;
                font-size: 12px;
            }
        }

        &:disabled {

            ~label {
                color: var(--on-surface-opacity-38) !important;
            }

            ~svg {
                >path {
                    stroke: var(--on-surface-opacity-12) !important;
                    stroke-width: 1px !important;
                }
            }

            ~p {
                color: var(--on-surface-opacity-38) !important;
            }

            color: var(--on-surface-opacity-38) !important;
        }
    }

    &:hover {
        >svg {
            >path {
                stroke: var(--on-surface);
            }
        }

        >label {
            color: var(--on-surface);
        }

        &.error {
            >svg {
                >path {
                    stroke: var(--on-error-container);
                }
            }

            >label {
                color: var(--on-error-container);
            }
        }
    }

    &.error {
        >svg {
            >path {
                stroke: var(--error);
            }
        }

        >label {
            color: var(--error);
        }

        >p {
            color: var(--error);
        }

        >input {
            caret-color: var(--error);

            &:focus {
                ~svg {
                    >path {
                        stroke: var(--error);
                    }
                }

                ~label {
                    color: var(--error);
                }
            }
        }
    }
}