a.outlined-btn,
.outlined-btn {
    display: inline-block;
    padding: 8px 24px;
    border-radius: 20px;
    border: 1px solid var(--outline);
    background: var(--surface);
    color: var(--primary);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-family);
    text-align: center;
    font-size: 14px;
    transition: 0.1s all ease-out;
    text-decoration: none;
    cursor: pointer !important;


    &:disabled {
        background: var(--surface) !important;
        border-color: var(--on-surface-opacity-12) !important;
        color: var(--on-surface-opacity-38) !important;
        cursor: default !important;


        // &:hover {
        //     border-color: var(--on-surface-opacity-12);
        //     background: var(--surface);
        // }

        // &:focus {
        //     border-color: var(--on-surface-opacity-12);
        //     background: var(--surface);
        // }

        // &:active {
        //     border-color: var(--on-surface-opacity-12);
        //     background: var(--surface);
        // }
    }

    &:hover {
        background: var(--surface-state-hover);
    }

    &:focus {
        background: var(--surface-state-focus);
        border-color: var(--primary);
    }

    &:active {
        background: var(--surface-state-pressed);
    }

    &.bg-no-color {
        background: transparent;

        &:disabled {
            background: transparent;
            border-color: var(--on-surface-opacity-12) !important;
            color: var(--on-surface-opacity-38) !important;


            // &:hover {
            //     border-color: var(--on-surface-opacity-12);
            //     background: transparent;
            // }

            // &:focus {
            //     border-color: var(--on-surface-opacity-12);
            //     background: transparent;
            // }

            // &:active {
            //     border-color: var(--on-surface-opacity-12);
            //     background: transparent;
            // }
        }

        &:hover {
            background: var(--transparent-state-hover);
        }

        &:focus {
            background: var(--transparent-state-focus);
            border-color: var(--primary);
        }

        &:active {
            background: var(--transparent-state-pressed);
        }
    }
}