 .tab-navigation-rails {
     background: var(--surface);
     width: 100%;
     height: fit-content;
     overflow-x: scroll;
     scrollbar-width: none;
     position: sticky;
     top: var(--app-topbar-height);

     >form {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: center;

         >a {
             border: none;
             display: inline-block;
             flex-grow: 1;
             text-align: center;
             text-decoration: none;

             >input {
                 display: none;

                 &:checked {
                     +label {
                         border-bottom: 2px solid var(--primary);
                         color: var(--on-surface);
                         padding-bottom: 7px;
                     }
                 }
             }

             &:hover {
                 background: var(--surface-state-hover);

                 >label {
                     border-bottom: 2px solid var(--surface-variant);
                     padding-bottom: 7px;
                 }
             }

             &:focus {
                 background: var(--surface-state-focus);

                 >label {
                     color: var(--primary);
                     border-bottom: 2px solid var(--primary);
                     padding-bottom: 7px;
                 }
             }

             &:active {
                 background: var(--surface-state-pressed);

                 >label {
                     border-bottom: 1px solid var(--primary);
                     padding-bottom: 8px;
                     color: var(--primary);
                 }
             }

             >label {
                 border: none;
                 display: inline-block;
                 padding: 8px 16px;
                 width: 100%;
                 height: 100%;
                 pointer-events: none;
                 cursor: pointer;
                 color: var(--on-surface);
                 border-bottom: 1px solid var(--surface-variant);


                 >span {
                     pointer-events: none;
                     display: none;
                 }


             }
         }
     }

     //on tablet and up view
     @include on-media-min-md {
         >form {
             >a {

                 >input:checked {
                     +label {
                         >.ch {
                             display: none;
                         }

                         >.h-ch {
                             display: inline-block;
                         }
                     }
                 }

                 >label {
                     vertical-align: middle;

                     >span {
                         display: inline-block;
                         margin-right: 8px;

                         &::before {
                             display: inline-block;
                             font-size: 24px;
                             font-weight: 400;
                             pointer-events: none;
                         }

                         &.h-ch {
                             display: none;
                         }
                     }
                 }

                 &:active {
                     >label {
                         >.ch {
                             display: none;
                         }

                         >.h-ch {
                             display: inline-block;
                         }
                     }
                 }
             }
         }

         @include on-media-height-min-md {
             width: 80px;
             height: fit-content;
             overflow-x: auto;
             border: none;
             left: 20px;
             position: fixed;
             top: calc(var(--app-topbar-height) + 20px);

             &.top {
                 top: calc(var(--app-topbar-height) + 20px);
             }

             &.middle {
                 top: 50%;
                 transform: translate(0, -50%);
             }

             &.bottom {
                 top: auto;
                 bottom: calc(var(--app-footer-height) + 20px);
             }

             >form {
                 flex-direction: column;

                 >a {
                     padding: 12px 12px;

                     >input {
                         &:checked {

                             +label {
                                 color: var(--on-surface);
                                 border: none !important;

                                 >span {
                                     &::before {
                                         background: var(--secondary-container);
                                     }
                                 }
                             }
                         }
                     }

                     >label {
                         color: var(--on-surface) !important;
                         line-height: 16px;
                         font-size: 12px;
                         padding: 0 0 4px 0 !important;
                         font-weight: 500;
                         border: none !important;


                         >span {
                             display: block;
                             margin-bottom: 4px;
                             margin-right: 0;

                             &::before {
                                 padding: 0 0;
                                 height: 32px;
                                 width: 56px;
                                 font-weight: 400;
                                 border-radius: 16px;
                                 font-size: 24px;
                                 color: var(--on-secondary-container);
                                 line-height: 32px; //24px; for vertical center
                             }
                         }
                     }

                     &:hover {
                         background: transparent !important;

                         >label {

                             >span {
                                 &::before {
                                     background: var(--surface-on-state-hover);
                                 }
                             }
                         }
                     }

                     &:focus {
                         background: transparent !important;

                         >label {

                             >span {
                                 &::before {
                                     background: var(--surface-on-state-focus);
                                 }
                             }
                         }
                     }

                     &:active {
                         background: transparent !important;

                         >label {

                             >span {
                                 &::before {
                                     background: var(--surface-on-state-pressed);
                                 }
                             }
                         }
                     }
                 }
             }

         }
     }
 }