 .tab-navigation {
     background: var(--surface);
     width: 100%;
     height: fit-content;
     overflow-x: scroll;
     scrollbar-width: none;
     position: sticky;
     top: var(--app-topbar-height);

     >form {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: center;

         >a {
             border: none;
             display: inline-block;
             flex-grow: 1;
             text-align: center;
             text-decoration: none;

             >input {
                 display: none;

                 &:checked {
                     +label {
                         border-bottom: 2px solid var(--primary);
                         color: var(--on-surface);
                         padding-bottom: 7px;
                     }
                 }
             }

             &:hover {
                 background: var(--surface-state-hover);

                 >label {
                     border-bottom: 2px solid var(--surface-variant);
                     padding-bottom: 7px;
                 }
             }

             &:focus {
                 background: var(--surface-state-focus);

                 >label {
                     color: var(--primary);
                     border-bottom: 2px solid var(--primary);
                     padding-bottom: 7px;
                 }
             }

             &:active {
                 background: var(--surface-state-pressed);

                 >label {
                     color: var(--primary);
                     border-bottom: 1px solid var(--primary);
                     padding-bottom: 8px;
                 }
             }

             >label {
                 border: none;
                 display: inline-block;
                 padding: 8px 16px;
                 width: 100%;
                 height: 100%;
                 pointer-events: none;
                 cursor: pointer;
                 color: var(--on-surface);
                 border-bottom: 1px solid var(--surface-variant);

                 >span {
                     pointer-events: none;
                     display: none;
                 }


             }
         }
     }

     //on tablet and up view
     @include on-media-min-md {
         >form {
             >a {
                 >input {
                     &:checked {
                         +label {
                             >.ch {
                                 display: none;
                             }

                             >.h-ch {
                                 display: inline-block;
                             }
                         }
                     }
                 }

                 >label {
                     vertical-align: middle;

                     >span {
                         display: inline-block;
                         margin-right: 8px;

                         &::before {
                             display: inline-block;
                             font-size: 24px;
                             font-weight: 400;
                             pointer-events: none;
                         }

                         &.h-ch {
                             display: none;
                         }
                     }
                 }

                 &:active {
                     >label {
                         >.ch {
                             display: none;
                         }

                         >.h-ch {
                             display: inline-block;
                         }
                     }

                 }
             }
         }
     }
 }