a.text-btn,
.text-btn {
    display: inline-block;
    padding: 8px 24px;
    border-radius: 20px;
    border: none;
    background: transparent;
    color: var(--primary);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-family);
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    transition: 0.1s all ease-out;
    cursor: pointer !important;


    &:disabled {
        color: var(--on-surface-opacity-38);
        cursor: default !important;

        &:hover {
            background: transparent;
        }

        &:focus {
            background: transparent;
        }

        &:active {
            background: transparent;
        }
    }

    &:hover {
        background: var(--transparent-state-hover);
    }

    &:focus {
        background: var(--transparent-state-focus);
    }

    &:active {
        background: var(--transparent-state-pressed);
    }
}