.nav-bar {
  background: var(--surface);
  width: 100%;
  height: var(--app-topbar-height);
  color: var(--on-surface);
  z-index: 999;
  position: fixed;
  text-align: left;
  padding: 8px 4px 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
  transition: background-color 0.1s ease-out;
}
.nav-bar:is([data-onscroll=true]) {
  background: var(--surface-tint-2);
}
.nav-bar > a {
  order: 1;
  width: 48px;
  height: 48px;
  flex-basis: 48px;
}
.nav-bar > a > img {
  width: 100%;
  height: 100%;
  padding: 12px;
}
.nav-bar > p {
  order: 3;
  padding: 0px 12px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  flex-grow: 1;
  flex-basis: 100%;
  cursor: default;
}
.nav-bar > nav {
  order: 2;
  flex-grow: 1;
}
.nav-bar > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: nowrap;
  align-items: center;
}
.nav-bar > nav > ul > li {
  display: inline-block;
  margin-left: 4px;
}
.nav-bar > nav > ul > li > a {
  text-align: center;
  padding: 8px 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 20px;
}
.nav-bar > nav > ul > li > a:hover {
  background: var(--surface-on-variant-state-hover);
}
.nav-bar > nav > ul > li > a:focus {
  background: var(--surface-on-variant-state-hover);
}
.nav-bar > nav > ul > li > a:active {
  background: var(--surface-on-variant-state-pressed);
}
.nav-bar > nav > ul > li > label {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  color: var(--on-surface-variant);
}
.nav-bar > nav > ul > li > label:hover {
  background: var(--surface-on-variant-state-hover);
}
.nav-bar > nav > ul > li > label:focus {
  background: var(--surface-on-variant-state-hover);
}
.nav-bar > nav > ul > li > label:active {
  background: var(--surface-on-variant-state-pressed);
}
.nav-bar ul {
  list-style-type: none;
}
.nav-bar ul > li > a {
  color: var(--on-surface-variant);
  text-decoration: none;
  vertical-align: middle;
  display: table;
  line-height: 24px;
}
.nav-bar ul > li > a > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
}
.nav-bar ul > li > a > p {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
}
.nav-bar .secondary-action {
  width: fit-content;
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 64px;
  right: 4px;
  border: none;
  border-radius: 12px;
  padding: 8px 0px;
  background: var(--surface-tint-2);
  transition: display 0.1s ease-out, opacity 0.2s ease-out 0.2s;
}
.nav-bar .secondary-action > li > a {
  border-collapse: separate;
  border-spacing: 12px 0px;
  width: 100%;
  text-align: start;
  padding: 12px 0px;
}
.nav-bar .secondary-action > li > a > span {
  width: 24px;
}
.nav-bar .secondary-action > li > a > p {
  color: var(--on-surface);
}
.nav-bar .secondary-action > li > a:hover {
  background: var(--surface-on-state-hover);
}
.nav-bar .secondary-action > li > a:focus {
  background: var(--surface-on-state-focus);
}
.nav-bar .secondary-action > li > a:active {
  background: var(--surface-on-state-pressed);
}
.nav-bar > #menu-toggle {
  display: none;
}
.nav-bar > #menu-toggle:checked + label {
  display: block;
}
.nav-bar > #menu-toggle:checked ~ .secondary-action {
  display: block;
  opacity: 1;
}
.nav-bar > label {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
}
@media (max-width: 575px) {
  .nav-bar > nav > ul > li {
    flex-basis: 40px;
    margin-left: 0px;
  }
  .nav-bar > nav > ul > li > a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .nav-bar > nav > ul > li > a > p {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav-bar {
    flex-wrap: nowrap;
  }
  .nav-bar > p {
    order: 2;
    flex-basis: auto;
    line-height: 28px;
    font-size: 22px;
  }
  .nav-bar > nav {
    order: 3;
  }
}

a.filled-btn,
.filled-btn {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 20px;
  border: 0px;
  background: var(--primary);
  color: var(--on-primary);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-family);
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.1s ease-out;
  cursor: pointer !important;
}
a.filled-btn:disabled,
.filled-btn:disabled {
  background: var(--on-surface-opacity-12);
  color: var(--on-surface-opacity-38);
  cursor: default !important;
}
a.filled-btn:disabled:hover,
.filled-btn:disabled:hover {
  background: var(--on-surface-opacity-12);
  z-index: 0;
  box-shadow: none;
}
a.filled-btn:disabled:focus,
.filled-btn:disabled:focus {
  background: var(--on-surface-opacity-12);
}
a.filled-btn:disabled:active,
.filled-btn:disabled:active {
  background: var(--on-surface-opacity-12);
}
a.filled-btn:hover,
.filled-btn:hover {
  background: var(--primary-state-hover);
  z-index: 1;
  box-shadow: 0px 1px 2px var(--shadow);
}
a.filled-btn:focus,
.filled-btn:focus {
  background: var(--primary-state-focus);
  z-index: 0;
  box-shadow: none;
}
a.filled-btn:active,
.filled-btn:active {
  background: var(--primary-state-hover);
  z-index: 0;
  box-shadow: none;
}

a.filled-tonal-btn,
.filled-tonal-btn {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 20px;
  border: 0px;
  background: var(--secondary-container);
  color: var(--on-secondary-container);
  line-height: 24px;
  font-weight: 500;
  font-size: 14px;
  font-family: var(--font-family);
  text-align: center;
  text-decoration: none;
  transition: 0.1s all ease-out;
  cursor: pointer !important;
}
a.filled-tonal-btn:disabled,
.filled-tonal-btn:disabled {
  background: var(--on-surface-opacity-12);
  color: var(--on-surface-opacity-38);
  cursor: default !important;
}
a.filled-tonal-btn:disabled:hover,
.filled-tonal-btn:disabled:hover {
  background: var(--on-surface-opacity-12);
  z-index: 0;
  box-shadow: none;
}
a.filled-tonal-btn:disabled:focus,
.filled-tonal-btn:disabled:focus {
  background: var(--on-surface-opacity-12);
}
a.filled-tonal-btn:disabled:active,
.filled-tonal-btn:disabled:active {
  background: var(--on-surface-opacity-12);
}
a.filled-tonal-btn:hover,
.filled-tonal-btn:hover {
  background: var(--secondary-container-state-hover);
  z-index: 1;
  box-shadow: 0px 1px 2px var(--shadow);
}
a.filled-tonal-btn:focus,
.filled-tonal-btn:focus {
  background: var(--secondary-container-state-focus);
}
a.filled-tonal-btn:active,
.filled-tonal-btn:active {
  background: var(--secondary-container-state-pressed);
}

a.outlined-btn,
.outlined-btn {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 20px;
  border: 1px solid var(--outline);
  background: var(--surface);
  color: var(--primary);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-family);
  text-align: center;
  font-size: 14px;
  transition: 0.1s all ease-out;
  text-decoration: none;
  cursor: pointer !important;
}
a.outlined-btn:disabled,
.outlined-btn:disabled {
  background: var(--surface) !important;
  border-color: var(--on-surface-opacity-12) !important;
  color: var(--on-surface-opacity-38) !important;
  cursor: default !important;
}
a.outlined-btn:hover,
.outlined-btn:hover {
  background: var(--surface-state-hover);
}
a.outlined-btn:focus,
.outlined-btn:focus {
  background: var(--surface-state-focus);
  border-color: var(--primary);
}
a.outlined-btn:active,
.outlined-btn:active {
  background: var(--surface-state-pressed);
}
a.outlined-btn.bg-no-color,
.outlined-btn.bg-no-color {
  background: transparent;
}
a.outlined-btn.bg-no-color:disabled,
.outlined-btn.bg-no-color:disabled {
  background: transparent;
  border-color: var(--on-surface-opacity-12) !important;
  color: var(--on-surface-opacity-38) !important;
}
a.outlined-btn.bg-no-color:hover,
.outlined-btn.bg-no-color:hover {
  background: var(--transparent-state-hover);
}
a.outlined-btn.bg-no-color:focus,
.outlined-btn.bg-no-color:focus {
  background: var(--transparent-state-focus);
  border-color: var(--primary);
}
a.outlined-btn.bg-no-color:active,
.outlined-btn.bg-no-color:active {
  background: var(--transparent-state-pressed);
}

a.text-btn,
.text-btn {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 20px;
  border: none;
  background: transparent;
  color: var(--primary);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-family);
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  transition: 0.1s all ease-out;
  cursor: pointer !important;
}
a.text-btn:disabled,
.text-btn:disabled {
  color: var(--on-surface-opacity-38);
  cursor: default !important;
}
a.text-btn:disabled:hover,
.text-btn:disabled:hover {
  background: transparent;
}
a.text-btn:disabled:focus,
.text-btn:disabled:focus {
  background: transparent;
}
a.text-btn:disabled:active,
.text-btn:disabled:active {
  background: transparent;
}
a.text-btn:hover,
.text-btn:hover {
  background: var(--transparent-state-hover);
}
a.text-btn:focus,
.text-btn:focus {
  background: var(--transparent-state-focus);
}
a.text-btn:active,
.text-btn:active {
  background: var(--transparent-state-pressed);
}

a.filled-tonal-icon-btn,
.filled-tonal-icon-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  color: var(--on-secondary-container);
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 4px;
  cursor: pointer !important;
}
a.filled-tonal-icon-btn::before,
.filled-tonal-icon-btn::before {
  background: var(--secondary-container);
  border-radius: 50%;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
  font-family: "Ether Font";
}
a.filled-tonal-icon-btn:hover::before,
.filled-tonal-icon-btn:hover::before {
  background: var(--secondary-container-state-hover);
}
a.filled-tonal-icon-btn:focus::before,
.filled-tonal-icon-btn:focus::before {
  background: var(--secondary-container-state-focus);
}
a.filled-tonal-icon-btn:active::before,
.filled-tonal-icon-btn:active::before {
  background: var(--secondary-container-state-pressed);
}

a.filled-icon-btn,
.filled-icon-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--on-primary);
  padding: 4px;
  cursor: pointer !important;
}
a.filled-icon-btn.disable,
.filled-icon-btn.disable {
  cursor: default !important;
}
a.filled-icon-btn::before,
.filled-icon-btn::before {
  background: var(--primary);
  padding: 8px;
  border-radius: 50%;
  vertical-align: middle;
  display: table-cell;
  font-family: "Ether Font";
}
a.filled-icon-btn:hover::before,
.filled-icon-btn:hover::before {
  background: var(--primary-state-hover);
}
a.filled-icon-btn:focus::before,
.filled-icon-btn:focus::before {
  background: var(--primary-state-focus);
}
a.filled-icon-btn:active::before,
.filled-icon-btn:active::before {
  background: var(--primary-state-pressed);
}

a.filled-tonal-icon-btn-toggle,
.filled-tonal-icon-btn-toggle {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  padding: 4px;
  cursor: pointer !important;
}
a.filled-tonal-icon-btn-toggle > input,
.filled-tonal-icon-btn-toggle > input {
  display: none;
}
a.filled-tonal-icon-btn-toggle > input:checked + .ch,
.filled-tonal-icon-btn-toggle > input:checked + .ch {
  display: none;
}
a.filled-tonal-icon-btn-toggle > input:checked ~ .h-ch,
.filled-tonal-icon-btn-toggle > input:checked ~ .h-ch {
  display: inline-block;
}
a.filled-tonal-icon-btn-toggle > .ch,
.filled-tonal-icon-btn-toggle > .ch {
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
}
a.filled-tonal-icon-btn-toggle > .ch::before,
.filled-tonal-icon-btn-toggle > .ch::before {
  background: var(--surface-variant);
  border-radius: 50%;
  font-size: 24px;
  line-height: 24px;
  color: var(--on-surface-variant);
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
}
a.filled-tonal-icon-btn-toggle > .h-ch,
.filled-tonal-icon-btn-toggle > .h-ch {
  display: none;
  cursor: pointer;
  pointer-events: none;
}
a.filled-tonal-icon-btn-toggle > .h-ch::before,
.filled-tonal-icon-btn-toggle > .h-ch::before {
  background: var(--secondary-container);
  color: var(--on-secondary-container);
  border-radius: 50%;
  padding: 8px;
  font-size: 24px;
  line-height: 24px;
  display: table-cell;
  vertical-align: middle;
}
a.filled-tonal-icon-btn-toggle:hover > .ch::before,
.filled-tonal-icon-btn-toggle:hover > .ch::before {
  background: var(--surface-variant-state-hover);
}
a.filled-tonal-icon-btn-toggle:hover > .h-ch::before,
.filled-tonal-icon-btn-toggle:hover > .h-ch::before {
  background: var(--secondary-container-state-hover);
}
a.filled-tonal-icon-btn-toggle:focus > .ch::before,
.filled-tonal-icon-btn-toggle:focus > .ch::before {
  background: var(--surface-variant-state-focus);
}
a.filled-tonal-icon-btn-toggle:focus > .h-ch::before,
.filled-tonal-icon-btn-toggle:focus > .h-ch::before {
  background: var(--secondary-container-state-hover);
}
a.filled-tonal-icon-btn-toggle:active > .ch::before,
.filled-tonal-icon-btn-toggle:active > .ch::before {
  background: var(--surface-variant-state-pressed);
}
a.filled-tonal-icon-btn-toggle:active > .h-ch::before,
.filled-tonal-icon-btn-toggle:active > .h-ch::before {
  background: var(--secondary-container-state-hover);
}

a.filled-icon-btn-toggle,
.filled-icon-btn-toggle {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 4px;
  cursor: pointer !important;
}
a.filled-icon-btn-toggle > input,
.filled-icon-btn-toggle > input {
  display: none;
}
a.filled-icon-btn-toggle > input:checked + .ch,
.filled-icon-btn-toggle > input:checked + .ch {
  display: none;
}
a.filled-icon-btn-toggle > input:checked ~ .h-ch,
.filled-icon-btn-toggle > input:checked ~ .h-ch {
  display: inline-block;
}
a.filled-icon-btn-toggle > .ch,
.filled-icon-btn-toggle > .ch {
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
}
a.filled-icon-btn-toggle > .ch::before,
.filled-icon-btn-toggle > .ch::before {
  background: var(--surface-variant);
  color: var(--primary);
  padding: 8px;
  border-radius: 50%;
  vertical-align: middle;
  display: table-cell;
}
a.filled-icon-btn-toggle > .h-ch,
.filled-icon-btn-toggle > .h-ch {
  display: none;
  cursor: pointer;
  pointer-events: none;
}
a.filled-icon-btn-toggle > .h-ch::before,
.filled-icon-btn-toggle > .h-ch::before {
  background: var(--primary);
  color: var(--on-primary);
  padding: 8px;
  border-radius: 50%;
  vertical-align: middle;
  display: table-cell;
}
a.filled-icon-btn-toggle:hover > .ch::before,
.filled-icon-btn-toggle:hover > .ch::before {
  background: var(--surface-variant-primary-state-hover);
}
a.filled-icon-btn-toggle:hover > .h-ch::before,
.filled-icon-btn-toggle:hover > .h-ch::before {
  background: var(--primary-state-hover);
}
a.filled-icon-btn-toggle:focus > .ch::before,
.filled-icon-btn-toggle:focus > .ch::before {
  background: var(--surface-variant-primary-state-focus);
}
a.filled-icon-btn-toggle:focus > .h-ch::before,
.filled-icon-btn-toggle:focus > .h-ch::before {
  background: var(--primary-state-hover);
}
a.filled-icon-btn-toggle:active > .ch::before,
.filled-icon-btn-toggle:active > .ch::before {
  background: var(--surface-variant-primary-state-pressed);
}
a.filled-icon-btn-toggle:active > .h-ch::before,
.filled-icon-btn-toggle:active > .h-ch::before {
  background: var(--primary-state-hover);
}

a.icon-btn,
.icon-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
  color: var(--on-surface-variant);
  text-align: center;
  padding: 4px;
  cursor: pointer !important;
}
a.icon-btn::before,
.icon-btn::before {
  background: transparent;
  border-radius: 50%;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
  font-family: "Ether Font";
}
a.icon-btn:hover::before,
.icon-btn:hover::before {
  background: var(--transparent-on-variant-state-hover);
}
a.icon-btn:focus::before,
.icon-btn:focus::before {
  background: var(--transparent-on-variant-state-focus);
}
a.icon-btn:active::before,
.icon-btn:active::before {
  background: var(--transparent-on-variant-state-pressed);
}

a.icon-btn-toggle,
.icon-btn-toggle {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 4px;
  cursor: pointer !important;
  text-decoration: none;
}
a.icon-btn-toggle > input,
.icon-btn-toggle > input {
  display: none;
}
a.icon-btn-toggle > input:checked + .ch,
.icon-btn-toggle > input:checked + .ch {
  display: none;
}
a.icon-btn-toggle > input:checked ~ .h-ch,
.icon-btn-toggle > input:checked ~ .h-ch {
  display: inline-block;
}
a.icon-btn-toggle > .ch,
.icon-btn-toggle > .ch {
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
}
a.icon-btn-toggle > .ch::before,
.icon-btn-toggle > .ch::before {
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  color: var(--on-surface-variant);
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
}
a.icon-btn-toggle > .h-ch,
.icon-btn-toggle > .h-ch {
  display: none;
  cursor: pointer;
  pointer-events: none;
}
a.icon-btn-toggle > .h-ch::before,
.icon-btn-toggle > .h-ch::before {
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  padding: 8px;
  color: var(--primary);
  display: table-cell;
  vertical-align: middle;
}
a.icon-btn-toggle:hover > .ch::before,
.icon-btn-toggle:hover > .ch::before {
  background: var(--transparent-on-variant-state-hover);
}
a.icon-btn-toggle:hover > .h-ch::before,
.icon-btn-toggle:hover > .h-ch::before {
  background: var(--transparent-state-hover);
}
a.icon-btn-toggle:focus > .ch::before,
.icon-btn-toggle:focus > .ch::before {
  background: var(--transparent-on-variant-state-focus);
}
a.icon-btn-toggle:focus > .h-ch::before,
.icon-btn-toggle:focus > .h-ch::before {
  background: var(--transparent-state-focus);
}
a.icon-btn-toggle:active > .ch::before,
.icon-btn-toggle:active > .ch::before {
  background: var(--transparent-on-variant-state-pressed);
}
a.icon-btn-toggle:active > .h-ch::before,
.icon-btn-toggle:active > .h-ch::before {
  background: var(--transparent-state-pressed);
}

a.outlined-icon-btn,
.outlined-icon-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
  color: var(--on-surface-variant);
  text-align: center;
  padding: 4px;
  cursor: pointer !important;
}
a.outlined-icon-btn::before,
.outlined-icon-btn::before {
  background: transparent;
  border-radius: 50%;
  padding: 8px;
  outline: 1px solid var(--outline);
  display: table-cell;
  vertical-align: middle;
  font-family: "Ether Font";
}
a.outlined-icon-btn:hover::before,
.outlined-icon-btn:hover::before {
  background: var(--transparent-on-variant-state-hover);
}
a.outlined-icon-btn:focus::before,
.outlined-icon-btn:focus::before {
  background: var(--transparent-on-variant-state-focus);
}
a.outlined-icon-btn:active::before,
.outlined-icon-btn:active::before {
  background: var(--transparent-on-variant-state-pressed);
}

a.outlined-icon-btn-toggle,
.outlined-icon-btn-toggle {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 4px;
  cursor: pointer !important;
}
a.outlined-icon-btn-toggle > input,
.outlined-icon-btn-toggle > input {
  display: none;
}
a.outlined-icon-btn-toggle > input:checked + .ch,
.outlined-icon-btn-toggle > input:checked + .ch {
  display: none;
}
a.outlined-icon-btn-toggle > input:checked ~ .h-ch,
.outlined-icon-btn-toggle > input:checked ~ .h-ch {
  display: inline-block;
}
a.outlined-icon-btn-toggle > .ch,
.outlined-icon-btn-toggle > .ch {
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
}
a.outlined-icon-btn-toggle > .ch::before,
.outlined-icon-btn-toggle > .ch::before {
  background: transparent;
  color: var(--on-surface-variant);
  border-radius: 50%;
  padding: 8px;
  outline: 1px solid var(--outline);
  display: table-cell;
  vertical-align: middle;
}
a.outlined-icon-btn-toggle > .h-ch,
.outlined-icon-btn-toggle > .h-ch {
  display: none;
  cursor: pointer;
  pointer-events: none;
}
a.outlined-icon-btn-toggle > .h-ch::before,
.outlined-icon-btn-toggle > .h-ch::before {
  background: var(--surface-invers);
  color: var(--on-surface-invers);
  border-radius: 50%;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
}
a.outlined-icon-btn-toggle:hover > .ch::before,
.outlined-icon-btn-toggle:hover > .ch::before {
  background: var(--transparent-on-variant-state-hover);
}
a.outlined-icon-btn-toggle:hover > .h-ch::before,
.outlined-icon-btn-toggle:hover > .h-ch::before {
  background: var(--surface-invers-x-invers-state-hover);
}
a.outlined-icon-btn-toggle:focus > .ch::before,
.outlined-icon-btn-toggle:focus > .ch::before {
  background: var(--transparent-on-variant-state-focus);
}
a.outlined-icon-btn-toggle:focus > .h-ch::before,
.outlined-icon-btn-toggle:focus > .h-ch::before {
  background: var(--surface-invers-x-invers-state-hover);
}
a.outlined-icon-btn-toggle:active > .ch::before,
.outlined-icon-btn-toggle:active > .ch::before {
  background: var(--transparent-on-variant-state-pressed);
}
a.outlined-icon-btn-toggle:active > .h-ch::before,
.outlined-icon-btn-toggle:active > .h-ch::before {
  background: var(--surface-invers-x-invers-state-hover);
}

.tab-navigation {
  background: var(--surface);
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  scrollbar-width: none;
  position: sticky;
  top: var(--app-topbar-height);
}
.tab-navigation > form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.tab-navigation > form > a {
  border: none;
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
}
.tab-navigation > form > a > input {
  display: none;
}
.tab-navigation > form > a > input:checked + label {
  border-bottom: 2px solid var(--primary);
  color: var(--on-surface);
  padding-bottom: 7px;
}
.tab-navigation > form > a:hover {
  background: var(--surface-state-hover);
}
.tab-navigation > form > a:hover > label {
  border-bottom: 2px solid var(--surface-variant);
  padding-bottom: 7px;
}
.tab-navigation > form > a:focus {
  background: var(--surface-state-focus);
}
.tab-navigation > form > a:focus > label {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
  padding-bottom: 7px;
}
.tab-navigation > form > a:active {
  background: var(--surface-state-pressed);
}
.tab-navigation > form > a:active > label {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
  padding-bottom: 8px;
}
.tab-navigation > form > a > label {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
  color: var(--on-surface);
  border-bottom: 1px solid var(--surface-variant);
}
.tab-navigation > form > a > label > span {
  pointer-events: none;
  display: none;
}
@media (min-width: 768px) {
  .tab-navigation > form > a > input:checked + label > .ch {
    display: none;
  }
  .tab-navigation > form > a > input:checked + label > .h-ch {
    display: inline-block;
  }
  .tab-navigation > form > a > label {
    vertical-align: middle;
  }
  .tab-navigation > form > a > label > span {
    display: inline-block;
    margin-right: 8px;
  }
  .tab-navigation > form > a > label > span::before {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    pointer-events: none;
  }
  .tab-navigation > form > a > label > span.h-ch {
    display: none;
  }
  .tab-navigation > form > a:active > label > .ch {
    display: none;
  }
  .tab-navigation > form > a:active > label > .h-ch {
    display: inline-block;
  }
}

.tab-navigation-rails {
  background: var(--surface);
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  scrollbar-width: none;
  position: sticky;
  top: var(--app-topbar-height);
}
.tab-navigation-rails > form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.tab-navigation-rails > form > a {
  border: none;
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
}
.tab-navigation-rails > form > a > input {
  display: none;
}
.tab-navigation-rails > form > a > input:checked + label {
  border-bottom: 2px solid var(--primary);
  color: var(--on-surface);
  padding-bottom: 7px;
}
.tab-navigation-rails > form > a:hover {
  background: var(--surface-state-hover);
}
.tab-navigation-rails > form > a:hover > label {
  border-bottom: 2px solid var(--surface-variant);
  padding-bottom: 7px;
}
.tab-navigation-rails > form > a:focus {
  background: var(--surface-state-focus);
}
.tab-navigation-rails > form > a:focus > label {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
  padding-bottom: 7px;
}
.tab-navigation-rails > form > a:active {
  background: var(--surface-state-pressed);
}
.tab-navigation-rails > form > a:active > label {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 8px;
  color: var(--primary);
}
.tab-navigation-rails > form > a > label {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
  color: var(--on-surface);
  border-bottom: 1px solid var(--surface-variant);
}
.tab-navigation-rails > form > a > label > span {
  pointer-events: none;
  display: none;
}
@media (min-width: 768px) {
  .tab-navigation-rails > form > a > input:checked + label > .ch {
    display: none;
  }
  .tab-navigation-rails > form > a > input:checked + label > .h-ch {
    display: inline-block;
  }
  .tab-navigation-rails > form > a > label {
    vertical-align: middle;
  }
  .tab-navigation-rails > form > a > label > span {
    display: inline-block;
    margin-right: 8px;
  }
  .tab-navigation-rails > form > a > label > span::before {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    pointer-events: none;
  }
  .tab-navigation-rails > form > a > label > span.h-ch {
    display: none;
  }
  .tab-navigation-rails > form > a:active > label > .ch {
    display: none;
  }
  .tab-navigation-rails > form > a:active > label > .h-ch {
    display: inline-block;
  }
}
@media (min-width: 768px) and (min-height: 768px) {
  .tab-navigation-rails {
    width: 80px;
    height: fit-content;
    overflow-x: auto;
    border: none;
    left: 20px;
    position: fixed;
    top: calc(var(--app-topbar-height) + 20px);
  }
  .tab-navigation-rails.top {
    top: calc(var(--app-topbar-height) + 20px);
  }
  .tab-navigation-rails.middle {
    top: 50%;
    transform: translate(0, -50%);
  }
  .tab-navigation-rails.bottom {
    top: auto;
    bottom: calc(var(--app-footer-height) + 20px);
  }
  .tab-navigation-rails > form {
    flex-direction: column;
  }
  .tab-navigation-rails > form > a {
    padding: 12px 12px;
  }
  .tab-navigation-rails > form > a > input:checked + label {
    color: var(--on-surface);
    border: none !important;
  }
  .tab-navigation-rails > form > a > input:checked + label > span::before {
    background: var(--secondary-container);
  }
  .tab-navigation-rails > form > a > label {
    color: var(--on-surface) !important;
    line-height: 16px;
    font-size: 12px;
    padding: 0 0 4px 0 !important;
    font-weight: 500;
    border: none !important;
  }
  .tab-navigation-rails > form > a > label > span {
    display: block;
    margin-bottom: 4px;
    margin-right: 0;
  }
  .tab-navigation-rails > form > a > label > span::before {
    padding: 0 0;
    height: 32px;
    width: 56px;
    font-weight: 400;
    border-radius: 16px;
    font-size: 24px;
    color: var(--on-secondary-container);
    line-height: 32px;
  }
  .tab-navigation-rails > form > a:hover {
    background: transparent !important;
  }
  .tab-navigation-rails > form > a:hover > label > span::before {
    background: var(--surface-on-state-hover);
  }
  .tab-navigation-rails > form > a:focus {
    background: transparent !important;
  }
  .tab-navigation-rails > form > a:focus > label > span::before {
    background: var(--surface-on-state-focus);
  }
  .tab-navigation-rails > form > a:active {
    background: transparent !important;
  }
  .tab-navigation-rails > form > a:active > label > span::before {
    background: var(--surface-on-state-pressed);
  }
}

.fill-text-field {
  position: relative;
  display: inline-block;
  height: 56px;
  border: none;
  background: transparent;
  text-align: start;
}
.fill-text-field > div {
  height: 100%;
  width: 100%;
  margin-bottom: 4px;
  pointer-events: none;
  border: none;
  border-bottom: 1px solid var(--on-surface-variant);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: var(--surface-variant);
  transition: all 0.1s ease-out;
}
.fill-text-field > label {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
  pointer-events: none;
  font-size: 16px;
  color: var(--on-surface-variant);
  line-height: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  transition: all 0.1s ease-out;
}
.fill-text-field > p {
  margin-left: 16px;
  margin-right: 16px;
  text-align: start;
  color: var(--on-surface-variant);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.fill-text-field > input {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 16px;
  background: transparent;
  caret-color: var(--primary);
  color: var(--on-surface);
  line-height: 24px;
  outline: none;
  font-size: 16px;
  border: none;
  outline: none;
}
.fill-text-field > input:focus, .fill-text-field > input:not(:placeholder-shown) {
  background: transparent;
  padding-top: 24px;
  padding-bottom: 8px;
}
.fill-text-field > input:focus + div {
  border-bottom: 2px solid var(--primary);
  background: var(--surface-variant);
}
.fill-text-field > input:focus ~ label {
  top: 8px;
  bottom: 32px;
  font-size: 12px;
  line-height: 16px;
  color: var(--primary);
}
.fill-text-field > input:not(:placeholder-shown) ~ label {
  top: 8px;
  bottom: 32px;
  font-size: 12px;
  line-height: 16px;
}
.fill-text-field > input:disabled {
  color: var(--on-surface-opacity-38) !important;
}
.fill-text-field > input:disabled + div {
  background: var(--on-surface-opacity-4) !important;
  border-bottom-color: var(--on-surface-opacity-38) !important;
}
.fill-text-field > input:disabled ~ label {
  color: var(--on-surface-opacity-38) !important;
}
.fill-text-field > input:disabled ~ p {
  color: var(--on-surface-opacity-38) !important;
}
.fill-text-field:hover > div {
  background: var(--surface-variant-state-hover);
  border-bottom-color: var(--on-surface);
}
.fill-text-field:hover.error > div {
  border-bottom-color: var(--on-error-container);
}
.fill-text-field:hover.error > label {
  color: var(--on-error-container);
}
.fill-text-field.error > div {
  border-bottom-color: var(--error);
}
.fill-text-field.error > label {
  color: var(--error);
}
.fill-text-field.error > p {
  color: var(--error);
}
.fill-text-field.error > input {
  caret-color: var(--error);
}
.fill-text-field.error > input:focus + div {
  border-bottom-color: var(--error);
}
.fill-text-field.error > input:focus ~ label {
  color: var(--error);
}

.outlined-text-field {
  height: 56px;
  display: inline-block;
  background: transparent;
  position: relative;
}
.outlined-text-field > svg {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 4px;
}
.outlined-text-field > svg > path {
  fill: none;
  stroke-width: 1px;
  stroke: var(--outline);
  transition: all 0.1s ease-out;
}
.outlined-text-field > label {
  z-index: 1;
  top: 16px;
  bottom: 16px;
  left: 16px;
  position: absolute;
  line-height: 24px;
  font-size: 16px;
  color: var(--on-surface-variant);
  font-weight: 400;
  text-align: start;
  pointer-events: none;
  transition: all 0.1s ease-out;
}
.outlined-text-field > p {
  margin-left: 16px;
  margin-right: 16px;
  color: var(--on-surface-variant);
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
  text-align: start;
}
.outlined-text-field > input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  caret-color: var(--primary);
  width: 100%;
  padding: 16px;
  color: var(--on-surface);
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  background: transparent;
}
.outlined-text-field > input:focus ~ label {
  color: var(--primary);
  top: -8px;
  bottom: 8px;
  line-height: 16px;
  font-size: 12px;
}
.outlined-text-field > input:focus ~ svg > path {
  stroke: var(--primary);
  stroke-width: 2px;
}
.outlined-text-field > input:not(:placeholder-shown) ~ label {
  top: -8px;
  bottom: 8px;
  line-height: 16px;
  font-size: 12px;
}
.outlined-text-field > input:disabled {
  color: var(--on-surface-opacity-38) !important;
}
.outlined-text-field > input:disabled ~ label {
  color: var(--on-surface-opacity-38) !important;
}
.outlined-text-field > input:disabled ~ svg > path {
  stroke: var(--on-surface-opacity-12) !important;
  stroke-width: 1px !important;
}
.outlined-text-field > input:disabled ~ p {
  color: var(--on-surface-opacity-38) !important;
}
.outlined-text-field:hover > svg > path {
  stroke: var(--on-surface);
}
.outlined-text-field:hover > label {
  color: var(--on-surface);
}
.outlined-text-field:hover.error > svg > path {
  stroke: var(--on-error-container);
}
.outlined-text-field:hover.error > label {
  color: var(--on-error-container);
}
.outlined-text-field.error > svg > path {
  stroke: var(--error);
}
.outlined-text-field.error > label {
  color: var(--error);
}
.outlined-text-field.error > p {
  color: var(--error);
}
.outlined-text-field.error > input {
  caret-color: var(--error);
}
.outlined-text-field.error > input:focus ~ svg > path {
  stroke: var(--error);
}
.outlined-text-field.error > input:focus ~ label {
  color: var(--error);
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: var(--background);
}

.test {
  padding: 16px;
  font-weight: 600;
  background: gold;
  border: 1px solid var(--outline);
  margin: 16px;
}

#build {
  margin: 20px;
  padding: 20px;
  background: var(--primary-container);
}