@import '../../scss/utility/mixin';
@import '../../scss/utility/function';
@import '../../scss/utility/var';
@import '../../scss/module/navigation';
@import '../../scss/module/filled_button';
@import '../../scss/module/filled_tonal_button';
@import '../../scss/module/outlined_button';
@import '../../scss/module/text_button';
@import '../../scss/module/filled_tonal_icon_button';
@import '../../scss/module/filled_icon_button';
@import '../../scss/module/filled_tonal_icon_button_toggle';
@import '../../scss/module/filled_icon_button_toggle';
@import '../../scss/module/icon_button';
@import '../../scss/module/icon_button_toggle';
@import '../../scss/module/outlined_icon_button';
@import '../../scss/module/outlined_icon_button_toggle';
@import '../../scss/module/tab_navigation';
@import '../../scss/module/tab_navigation_rails';
@import '../../scss/module/filled_text_field';
@import '../../scss/module/outlined_text_field';


* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: var(--background);
}

.test {
    padding: 16px;
    font-weight: 600;
    background: gold;
    border: 1px solid var(--outline);
    margin: 16px;
}

#build{
    margin:20px;
    padding: 20px;
    background: var(--primary-container);
}