@import '../utility/var';

:root {
    --app-topbar-height: #{$top-appbar-height-sm};
    --app-footer-height: #{$footer-height};

    @include on-media-min-md {
        --app-topbar-height: #{$top-appbar-height-md};

    }
}